@import 'variables.scss';

.loginPage {
    background: url(../assets/sun.svg) no-repeat center center fixed, $loginBg;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginForm {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .file {
            width: 100%;
            margin-bottom: 30px;

            >span {
                display: block;
                margin-bottom: 10px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 45px;
                letter-spacing: 0.03em;
            }
        }

        .masterPassword {
            display: flex;
            flex-direction: column;

            width: 100%;
            margin-bottom: 50px;
            font-size: 16px;

            >span {
                margin-bottom: 10px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 45px;
                letter-spacing: 0.03em;
            }
        }

        .passwordInput {
            border: 1px solid #EFEFEF;
            background: rgba(239, 239, 239, 0.048);
            backdrop-filter: blur(5px);
            border-radius: 20px;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
            height: 50px;
            width: 100%;
            font-size: 20px;
            outline: none;
            padding: 0px 15px;
            font-weight: 500;
        }

        input[type="password"i]::-ms-reveal {
            display: none;
        }

        .loginBtn {
            width: 100px;
            height: 30px;
            line-height: 30px;
            background-color: $btnColor;
            color: $color-white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-size: 25px;
            cursor: pointer;
            text-align: center;
            font-weight: $btnFontWeight;
            color: $btnFontColor;
        }

        .otherMethod {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;

            color: #0F0103;
            margin-bottom: 20px;
        }
    }

    .changeTheme{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
        color: $color-white;
    }
}

.loginPage.dark{
    background: url(../assets/Spaceman.svg) no-repeat calc(50% - 320px ) 50%/max(10%, 150px) , url(../assets/moon.svg) no-repeat 
    70% 40%/max(20%, 300px) , url(../assets/stars.svg) center center fixed, #000000;

    span{
        color: $dark-title-color;
    }

    .otherMethod{
        color: $color-white;
    }

    .passwordInput{
        color: $color-white;
    }

    .loginBtn{
        background-color: $btnColorDark;
        color: $color-white;
    }
}