$backgroundColorLight: linear-gradient(107.93deg, #FFFFFF 0%, rgba(255, 255, 255, 0.89) 35.42%, rgba(255, 255, 255, 0) 100%), linear-gradient(80.15deg, #FFFFFF 0.54%, #F7D481 58.05%, #FBA87F 83.64%, #FE73B6 115.56%);
$backgroundColor: linear-gradient(107.93deg, #FFFFFF 0%, rgba(255, 255, 255, 0.89) 35.42%, rgba(255, 255, 255, 0) 100%), linear-gradient(80.15deg, #FFFFFF 0.54%, #F7D481 58.05%, #FBA87F 83.64%, #FE73B6 115.56%);
$backgroundColor2: linear-gradient(180deg, #FDF3DB 0%, rgba(253, 243, 219, 0) 100%);

$backgroundColorDark: #242535;
$loginBg: linear-gradient(0deg, #FFFFFF 0%, #FFF8EE 100%);
$loginBgDark: #000000;
$backgroundColor3: #707070;
$inputBorderColor: #ccc;

$btnColor: rgba(234, 95, 118, 0.74);
$btnColorDark: rgba(255, 202, 0, 0.74);
$btnFontColor: #fff;
$btnFontWeight: 700;

$light-font-color: #000000;
$dark-title-color: #BF9806;
$dark-font-color: #fff;
$color-white: #fff;
$color-black: #000;
$color-gray: rgb(128, 128, 128);

$font-family: 'Roboto';
$font-style: normal;
$font-weight: 400;
$font-size: 13px;
$line-height: 16px;

$topbar-height: 70px;