$backgroundColor: #BDBDBD;
$backgroundColor2: #8B8B8B;
$backgroundColor3: #707070;
$inputBorderColor: #ccc;
$btnColor: rgb(67, 67, 67);

$color-white: #fff;
$color-black: #000;
$color-gray: #ccc;

$font-family: 'Roboto';
$font-style: normal;
$font-weight: 400;
$font-size: 13px;
$line-height: 16px;

$topbar-height: 70px;